  <style>
      .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 110px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
 
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  body{
    padding-left: 10px;
    padding-right: 10px;
  }
  #myBtn{
    float: right;
  }
</style>

<h3>Homepage</h3>
    <h5>Welcome {{user}}!</h5>
    <body>
        <button id="myBtn" class="btn btn-outline-dark">Add Application</button><br><br>

        <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <div id = "forms">
            <form method = "POST" action = "/">
                <label for="">Company</label><br>
                <input type="text" name ="company"><br>
                <label for="">Position</label><br>
                <input type="text" name = "position"><br>
                <label for="">Status</label><br>
                <select name="status">
                  <option value="applied">Applied</option>
                  <option value="interview">Interviewing</option>
                  <option value="offer">Offer</option>
                  <option value="rejected">Rejected</option>
                </select><br>
                <label for="">Date Applied</label><br>
                <input type="date" id="start" name="date" min="2022-01-01" max="2099-12-31"><br><br>
                <input type="submit" value="Submit">
            </form>
            </div>
        </div>
        </div>
        <div class="intro">
        <table class="center">
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Company</th>
                <th scope="col">Position</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                    {{#each internship}}
                <tr>
                <td>{{company}}</td>
                <td>{{role}}</td>
                <td>{{status}}</td>
                <td>{{date}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </table>
        </div>


    </body>

<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
  modal.style.display = "block";
  }
  span.onclick = function() {
  modal.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>